{% load static %}
<div class="cizgi"></div>

<main id="main" class="bg-black">

    <div class="container">
        <div class="row p-4 align-items-center justify-content-center">

            <div class="col-lg-6 col-12 text-white ">
                <h3 class="fs-2 fw-bold">Televizyonunuzda izleyin</h3>
                <p class="fs-5">Akıllı TV, PlayStation, Xbox, Chromecast, Apple TV, Blu-ray oynatıcılar ve daha
                    fazlasında seyredin.</p>
            </div>

            <div class="col-lg-6 col-12">
                <img src="{% static "./img/resim1.png" %}" class="w-100" alt="">
            </div>


        </div>
    </div>

    <div class="cizgi"></div>

    <div class="container">
        <div class="row p-4 align-items-center justify-content-center">

            <div class="col-lg-6 col-12 order-lg-1 order-2">
                <img src="{% static "./img/resim2.jpg" %}" class="w-100" alt="">
            </div>


            <div class="col-lg-6 col-12 text-white order-lg-2 order-1">
                <h3 class="fs-2 fw-bold">Televizyonunuzda izleyin</h3>
                <p class="fs-5">Akıllı TV, PlayStation, Xbox, Chromecast, Apple TV, Blu-ray oynatıcılar ve daha
                    fazlasında seyredin.</p>
            </div>


        </div>
    </div>

    <div class="cizgi"></div>


    <div class="container">
        <div class="row p-4 align-items-center justify-content-center">

            <div class="col-lg-6 col-12 text-white ">
                <h3 class="fs-2 fw-bold">Televizyonunuzda izleyin</h3>
                <p class="fs-5">Akıllı TV, PlayStation, Xbox, Chromecast, Apple TV, Blu-ray oynatıcılar ve daha
                    fazlasında seyredin.</p>
            </div>

            <div class="col-lg-6 col-12">
                <img src="{% static "./img/resim3.png" %}" class="w-100" alt="">
            </div>


        </div>
    </div>

    <div class="cizgi"></div>

    <div class="container">
        <div class="row p-4 align-items-center justify-content-center">

            <div class="col-lg-6 col-12 order-lg-1 order-2">
                <img src="{% static "./img/resim4.png" %}" class="w-100" alt="">
            </div>


            <div class="col-lg-6 col-12 text-white order-lg-2 order-1">
                <h3 class="fs-2 fw-bold">Televizyonunuzda izleyin</h3>
                <p class="fs-5">Akıllı TV, PlayStation, Xbox, Chromecast, Apple TV, Blu-ray oynatıcılar ve daha
                    fazlasında seyredin.</p>
            </div>



        </div>
    </div>

    <div class="cizgi"></div>


    <div class="container p-5 text-center">
        <h3 class="fw-bold fs-1 text-white">Sıkça Sorulan Sorular</h3>

        <div class="accordion accordion-flush d-flex flex-column gap-2" id="accordionFlushExample"
            data-bs-theme="dark">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                        Netflix Nedir?
                    </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">Placeholder content for this accordion, which is intended to
                        demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion
                        body.</div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                        Netflix'in maliyeti nedir?
                    </button>
                </h2>
                <div id="flush-collapseTwo" class="accordion-collapse collapse"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">Placeholder content for this accordion, which is intended to
                        demonstrate the <code>.accordion-flush</code> class. This is the second item's accordion
                        body. Let's imagine this being filled with some actual content.</div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseThree" aria-expanded="false"
                        aria-controls="flush-collapseThree">
                        Nerede izleyebilirim?
                    </button>
                </h2>
                <div id="flush-collapseThree" class="accordion-collapse collapse"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">Placeholder content for this accordion, which is intended to
                        demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion
                        body. Nothing more exciting happening here in terms of content, but just filling up the
                        space to make it look, at least at first glance, a bit more representative of how this would
                        look in a real-world application.</div>
                </div>
            </div>
        </div>




        <p class="fs-5 text-white mt-5">İzlemeye hazır mısınız? Üye olmak ya da hesabınıza tekrar ulaşmak için tek
            yapmanız gereken e-posta adresinizi girmek.</p>

        <form action="" class="d-flex w-100 justify-content-center gap-2">
            <input type="email" name="" id="" placeholder="E-posta adresi"
                class="bg-black bg-opacity-50 py-2 pe-5 ps-2 fs-5 border-1 ">
            <input type="button" value="Başlayın >" class="btn btn-danger fs-5">
        </form>


    </div>
</main>

<div class="cizgi"></div>